.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f5f8;
  z-index: 9999;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

.loading-logo {
  opacity: 0;
  animation:
    fadeInOut 1.25s ease-in-out infinite alternate,
    bounce 1.25s ease-in-out infinite;
}
